<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<real>14</real>
		<key>textColor</key>
		<string>0x000000</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
</dict>
</plist>
